# Basic Settings
data_directory = '{{ postgresql_data_dir }}'
hba_file = '{{ postgresql_config_dir }}/pg_hba.conf'
ident_file = '{{ postgresql_config_dir }}/pg_ident.conf'

# Connection Settings
listen_addresses = 'localhost'
port = 5432
max_connections = 100

# Memory Settings
shared_buffers = 128MB
dynamic_shared_memory_type = posix

# Security Settings
ssl = on
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'

# Logging Settings
log_destination = 'stderr'
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
log_rotation_age = 1d
log_rotation_size = 10MB
log_min_messages = warning 