apiVersion: v1
kind: Secret
metadata:
  name: {{ ceph_csi_secret_name }}
  namespace: {{ ceph_csi_namespace }}
type: Opaque
stringData:
  userID: {{ ceph_csi_user_name }}
  userKey: {{ ceph_csi_user_key }}
