# Managed by Ansible

canciones.poochella.club {
    root /var/www/mysite
    file_server browse
}

poochella.club {
    @health path /health
    respond @health "OK" 200
    respond "hello there" 200
}
