{{ ansible_managed | comment }}
[Unit]
Description=Refresh poochella MOTD workload cache
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/poochella-motd-refresh
Nice=10
