proxmox_endpoint = "https://control01:8006"
proxmox_node     = "control01"

ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICTl/C06oyAMQiGgvUyH4eT2C0sPsIEqnT2nDNHDQ5j9 ivanperdomo@Ivans-MacBook-Pro.local"

template_vm_id   = 9001
template_ct_id   = 9101

vms = {
{% for host in groups['virtual-machines'] %}
  {{ host }} = {
    hostname = "{{ hostvars[host].ansible_host }}"
{% if hostvars[host].tofu_cores is defined %}
    cores    = {{ hostvars[host].tofu_cores }}
{% endif %}
{% if hostvars[host].tofu_memory is defined %}
    memory   = {{ hostvars[host].tofu_memory }}
{% endif %}
{% if hostvars[host].tofu_disk_size is defined %}
    disk_size = {{ hostvars[host].tofu_disk_size }}
{% endif %}
{% if hostvars[host].tofu_tags is defined %}
    tags       = {{ hostvars[host].tofu_tags | to_json }}
{% endif %}
  }
{% endfor %}
}

containers = {
{% for host in groups['containers'] %}
  {{ host }} = {
    hostname   = "{{ hostvars[host].tofu_hostname | default(hostvars[host].ansible_host) }}"
{% if hostvars[host].static_ip | default(false) %}
    ip_address = "{{ hostvars[host].ansible_host }}{{ network_cidr }}"
    gateway    = "{{ network_gateway }}"
{% endif %}
{% if hostvars[host].tofu_cores is defined %}
    cores      = {{ hostvars[host].tofu_cores }}
{% endif %}
{% if hostvars[host].tofu_memory is defined %}
    memory     = {{ hostvars[host].tofu_memory }}
{% endif %}
{% if hostvars[host].tofu_disk_size is defined %}
    disk_size  = {{ hostvars[host].tofu_disk_size }}
{% endif %}
{% if hostvars[host].tofu_tags is defined %}
    tags       = {{ hostvars[host].tofu_tags | to_json }}
{% endif %}
  }
{% endfor %}
}
