---
- name: Configure Linux Networking
  hosts: development
  become: true
  tasks:
    - name: Install required packages
      ansible.builtin.package:
        name:
          - iproute2
          - iptables
          - wireshark
          - ufw
          # - nftables
        state: present
    - name: Enable ufw
      community.general.ufw:
        state: enabled
    - name: Allow SSH
      community.general.ufw:
        rule: allow
        port: 22
        proto: tcp
    - name: Allow HTTP
      community.general.ufw:
        rule: allow
        port: 80
        proto: tcp
    - name: Allow HTTPS
      community.general.ufw:
        rule: allow
        port: 443
        proto: tcp
    - name: Deny all incoming traffic
      community.general.ufw:
        state: enabled
        policy: reject
        direction: incoming
  handlers:
    - name: Reload UFW
      ansible.builtin.service:
        name: ufw
        state: reloaded
