---
- name: Install and configure network tools
  hosts: poochella
  become: true
  vars:
    trusted_ip: "192.168.0.193"
  tasks:
    - name: Install ufw
      ansible.builtin.package:
        name: 
          - ufw
        state: present
    - name: Allow SSH
      community.general.ufw:
        rule: allow
        port: 22
        proto: tcp
    - name: Allow HTTP
      community.general.ufw:
        rule: allow
        port: 80
        proto: tcp
    - name: Allow HTTPS
      community.general.ufw:
        rule: allow
        port: 443
        proto: tcp
    - name: Allow rsync
      community.general.ufw:
        rule: allow
        # from_ip: "{{ trusted_ip }}"
        port: 873
        proto: tcp
      # notify:
      #   - Reload UFW
    - name: Deny all incoming traffic
      community.general.ufw:
        state: enabled
        policy: reject
        direction: incoming
  handlers:
    - name: Reload UFW
      ansible.builtin.service:
        name: ufw
        state: reloaded
