- name: Install Python
  hosts: development
  tasks:
    - name: Download uv installer script
      ansible.builtin.get_url:
        url: https://astral.sh/uv/install.sh
        dest: /tmp/uv-install.sh
        mode: '0755'
    - name: Run uv installer script
      become: true
      ansible.builtin.shell:
        cmd: /tmp/uv-install.sh
        creates: /usr/bin/uv
      environment:
        UV_INSTALL_DIR: /usr/bin

- name: Install Pantsbuild
  hosts: development
  become: true
  tasks:
    - name: Install Pantsbuild
      ansible.builtin.get_url:
        url: https://static.pantsbuild.org/setup/get-pants.sh
        dest: /tmp/pants-install.sh
        mode: "0755"
    - name: Run pants installer script
      ansible.builtin.shell:
        cmd: /tmp/pants-install.sh --bin-dir /usr/bin
        creates: /usr/bin/pants
