- name: Install and configure Rust
  hosts: poochella
  tasks:
  - name: Install required packages
    ansible.builtin.package:
      name:
        - curl
        - build-essential
      state: present
    become: true
  - name: Install Rust and Cargo
    ansible.builtin.get_url:
      url: https://sh.rustup.rs
      dest: /tmp/rustup-install.sh
      mode: "0755"
