---
- name: Install and configure NGINX
  hosts: home
  become: true
  tasks:
    - name: Update package cache
      ansible.builtin.package:
        update_cache: true
        cache_valid_time: 3600

    - name: Install NGINX
      ansible.builtin.package:
        name: nginx
        state: present
      notify:
        - Restart NGINX

  handlers:
    - name: Restart NGINX
      ansible.builtin.service:
        name: nginx
        state: reloaded
